<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  current_page={:admin}
  prefix=""
  uri={@uri}
  breadcrumbs={[
    %{label: "Admin", path: ~p"/admin"},
    %{label: "Users", path: ~p"/admin/users"},
    %{label: "Edit"}
  ]}
>
  <.header>
    Edit User
    <:subtitle>{@user.email}</:subtitle>
  </.header>

  <.user_form form={@form} action={:edit} />

  <div class="mt-4">
    <.button navigate={~p"/admin/users/#{@user}"}>Back to user</.button>
  </div>
</Layouts.app>
