<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  current_page={:admin}
  prefix=""
  uri={@uri}
  breadcrumbs={[
    %{label: "Admin", path: ~p"/admin"},
    %{label: "Users", path: ~p"/admin/users"},
    %{label: "Show"}
  ]}
>
  <.header>
    New User
    <:subtitle>Create a new user account</:subtitle>
  </.header>

  <.user_form form={@form} action={:new} />

  <div class="mt-4">
    <.button navigate={~p"/admin/users"}>Back to users</.button>
  </div>
</Layouts.app>
