# PORT=4000
# DATABASE_PATH=/app.db
#
# APP_ADMIN_USER_EMAIL=
# APP_ADMIN_USER_PASSWORD=
#
# PYRE_ALLOWED_PATHS="/path/to/apps/other,/path/to/libs/shared"
#
# PYRE_GITHUB_REPO_URL=""
# PYRE_GITHUB_TOKEN=""
# PYRE_GITHUB_BASE_BRANCH=""
#
# ANTHROPIC_API_KEY=sk-ant-...
# OPENAI_API_KEY=sk-...
