# PORT=4000
# DATABASE_PATH=/app/database.db
#
# APP_ADMIN_USER_EMAIL=
# APP_ADMIN_USER_PASSWORD=
#
# SWOOSH_EMAIL_ADAPTER="Swoosh.Adapters.Local"
# SWOOSH_EMAIL_API_KEY=""
# SWOOSH_EMAIL_DOMAIN=""
# SWOOSH_EMAIL_FROM="noreply@example.com"
#
# PYRE_CLIENT_ALLOWED_PATHS="/path/to/apps/other,/path/to/libs/shared"
# PYRE_GITHUB_REPO_URL=""
# PYRE_GITHUB_TOKEN=""
# PYRE_GITHUB_BASE_BRANCH=""
# PYRE_WEBSOCKET_SERVICE_TOKENS_CSV=
#
# PYRE_CLIENT_CONNECTION_ID="local-client"
# PYRE_CLIENT_CONNECTION_NAME="Local"
# PYRE_CLIENT_ENABLED_WORKFLOWS=""
# PYRE_CLIENT_MAX_CAPACITY="1"
# PYRE_CLIENT_WEBSOCKET_SERVICE_TOKEN=
# PYRE_CLIENT_WEBSOCKET_URL="ws://localhost:4000/websocket"
#
# ANTHROPIC_API_KEY=sk-ant-...
# OPENAI_API_KEY=sk-...
